* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* || COLORS */
  --h2-COLOR: whitesmoke;
}

html,
body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.h1-header {
  text-align: center;
  color: rgb(18, 123, 165);
}

.user__section {
  margin-top: 1rem;
  margin-left: 1rem;
}

.personal-info {
  color: whitesmoke;
  margin-bottom: 0.8rem;
}

.user__label {
  display: inline-block;
  width: 100px;
  color: whitesmoke;
}

.user__input {
  text-align: center;
  background-color: #a5a4a4;
  font-size: 16px;
  width: 40vw;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  border: 2px solid #000;
  border-radius: 10px;
  outline: none;
}

button {
  background-color: #e6e3e3;
  color: #000;
  width: 60px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 0.08rem;
  outline: none;
}

.remove__section {
  margin-left: 1rem;
  margin-top: 1rem;
}

.remove-user {
  color: var(--h2-COLOR);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.remove__label {
  display: inline-block;
  width: 30px;
  color: whitesmoke;
}

.remove-btn {
  margin-left: 0.2rem;
}

.update-btn {
  margin-left: 0.2;
}

.item-list__section {
  width: 90vw;
  height: auto;
  margin-top: 1rem;
  margin-left: 1rem;
}

.list-of-users {
  color: var(--h2-COLOR);
}

ul {
  width: 100%;
  list-style-type: none;
  padding-bottom: 1rem;
}

li {
  width: 100%;
  color: papayawhip;
  margin-top: 0.5rem;
}

.footer {
  position: sticky;
  font-family: sans-serif;
  background-color: mediumblue;
  color: aliceblue;
  text-align: center;
}
